//Importing font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

//Slider
.carousel-item {
  img {
    width: 524px;
    height: 617px;
  }
}

.summary {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 3rem;
  }
  h2 {
    font-size: 5rem;
  }
  p {
    font-size: 1.2rem;
  }
  .btn-container {
    margin-top: 50px;
    .button {
      background-color: #abd373 !important;
      color: white;
      padding: 25px 40px;
      border: 1px solid #abd373;
      border-radius: 30px;
      text-decoration: none;
      outline: none;
      transition: all 0.3s ease;
      &:hover {
        background-color: gray;
      }
    }
  }
}
//Features Section
#features {
  padding-top: 80px;
}
.features-container {
  display: flex;
  gap: 30px;
}
.features-item {
  display: flex;
  gap: 30px;
  width: 100%;
  border: 1px dashed green;
  padding: 5px 30px;
  align-items: center;
}
.features-summary {
  span {
    font-size: 20px;
  }
}

//Our Products Section

@media only screen and (max-width: 870px) and (min-width: 600px) {
  .summary {
    display: flex;
    align-items: center;
    h3 {
      font-size: 2rem;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .btn-container {
    padding: 5px;
    margin-bottom: 50px;
  }
}
